body{
    margin: 0;
    padding: 0;
}

/* container style */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    flex-direction: column;
}

h1{
    color: #999;
    font-family: sans-serif;
}

.line{
    width: 120px;
    height: 2px;
    background-color: aqua;
    margin-top: -16px;
}

.inner{
    color: aqua;
}

.todo_app{
    height: 450px;
    width: 350px;
    background-color: #333;
    margin-top: 3rem;
    box-shadow: 12px 12px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user_info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: bisque;
}